body{
 font-family: 'Comfortaa', cursive;
}


.purple{
  background-color: #691A80;
  color: white;
}

.refresh-bar{
  height: 50px;
}

#refresh_text{
  
  margin-left: 19px;
}

.vc-line-50{
  /*vjust as the height of the parent*/
  line-height: 50px;
}

.btn {
  height: 34px;
  position: absolute;
  right: 19px;
  /*Parent is 50px, 50-34 = 16, then margin of 8px to vjust*/
  top: 8px;
  
}



.inline-block{
  display: inline-block;
}

