body{
 font-family: 'Comfortaa', cursive;
}

.purple{
  background-color: #691A80;
  color: white;
}


/*div with data status--------------------------------------------------------*/

.refresh-bar{
  /*height: 50px;*/
  display: flex;
  align-items: center; //both vertical and horizonal
  justify-content: center
}


#refresh_text{
   display: inline-block;
   line-height: 50px;
  margin-left: 19px;
 
}



.btn {
  height: 34px;
  /*position: absolute;*/
  right: 19px; 
  /*Parent is 50px, 50-34 = 16, then margin of 8px to vjust*/
  top: 8px;
 
  
}




